<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shiplogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Shiplogger.Properties.Settings>
            <setting name="BaseDir" serializeAs="String">
                <value>P:\Public\Shipping\purofiles</value>
            </setting>
            <setting name="FTPAddress" serializeAs="String">
                <value>ftp://10.13.10.102</value>
            </setting>
            <setting name="FTPUser" serializeAs="String">
                <value>ftpuser</value>
            </setting>
            <setting name="FTPPassword" serializeAs="String">
                <value>ftpuser</value>
            </setting>
            <setting name="FTPPort" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="DebugMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SHPMode" serializeAs="String">
                <value>True</value>
            </setting>
        </Shiplogger.Properties.Settings>
    </userSettings>
</configuration>